accelerate==0.3.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cycler==0.10.0
dataclasses==0.8
idna==2.10
kiwisolver==1.3.1
matplotlib==3.3.4
numpy==1.19.5
pandas==1.1.5
Pillow==8.2.0
pesq==0.0.2
pystoi==0.3.3
pyaml==20.4.0
pycparser==2.20
pyparsing==2.4.7
PySoundFile==0.9.0.post1
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
scipy==1.5.4
six==1.16.0
torch==1.8.1
torchaudio==0.8.1
torchsummary==1.5.1
torchvision==0.9.1
tqdm==4.60.0
typing-extensions==3.10.0.0
urllib3==1.26.4
